/* Element Selector */
body { 
    background-color: rgb(0, 0, 0);
    color: white;
    font-style: oblique;
}

/* Class Selector */
.button {
    background-color: darkblue;
    transition-duration: 0.4s;
    color: white
}

.button1 {padding: 22px 19px; font-style: bold;}

/* ID Selector */
#musician {
    color: white
}

/* Psuedo-Selectors */
p::first-letter {
    font-size: larger;
}
a:hover {
    color: white;
}
button:hover {
    background-color: blue;
}

/* Box Model for sizing */
h2 {
    font-size: large;
    width: 500px;
    height: 165px;
    border: 15px solid white;
    padding: 20px;
    margin: 20px;
}

div {
    width: 600px;
    height: 200px;
    padding: 100px;
  }
#logo {
    background-image: url("Logo.jpg");
    background-size: 100px;
}